# Android Studio-specifika filer
.gradle/
.idea/
*.iml
build/
captures/
.externalNativeBuild/
.cxx/

# Lokala egenskaper
local.properties

# Google Services
google-services.json

# Systemfiler
.DS_Store